body{
    background-color: #404477;
    color: #ffac89; 
    padding: 5%;
    padding-top:2%;
    font-family: 'Montserrat', sans-serif;   
}

img{
    height: 400px;
    width: 350px;
    padding-right: 10px;
    padding-left: 10px;
    filter: sepia(30%);
}

footer{
    background-color: #ffac89;
}

footer p{
    padding: 0.5%;
    text-align: center;
    color: #404477;
}

a {
    color: white;
}